<div class="card px-3 py-3 mx-3 my-3">

<div class="row">
    <div class="col"><h1 style="float: left;display: inline;">Complaint Registered</h1></div>
    <div class="col"><button class="btn btn-danger" style="float: right;" (click)="closedialog()">X</button></div>
</div>
<br>
<br>
<div>
    <p>Your complaint is successfully registered.</p>
    <p>Complaint reference number:ABCCR000{{data.complaintId}}</p>
    <p>Ticket Id:{{data.ticketId}} is created against your complaint. The concerned area manager will shortly assign an engineer to resolve your issue. Keep track of the ticket status from customer dashboard.</p>
</div>
</div>