<div class="card px-3 py-3 mx-3 my-3" >
    <div class="row"> 
    <div class="col" style="float: left;display: inline;"><h1>Add Pincode</h1></div>
    <div class="col"><button class="btn btn-warning" style="float: right; display: inline;" (click)="closedialog()">X</button></div>
    </div>
    <label for="pin">Enter the pincode to add</label>
    <input type="number" maxlength="6" id="pin" name="pin" class="form-control" [(ngModel)]="pin.pin">
    <button class="btn btn-primary my-2" (click)="addpin()">Add pincode</button>
</div>